{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
  <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock  %}


{% block fos_user_content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','class': 'validate-form','class': 'login100-form'}}) }}
				<span class="login100-form-title p-b-43">
					Login to continue
				</span>


				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					{{ form_widget(form.email,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">Email</span>
				</div>


				<div class="wrap-input100 validate-input">
					{{ form_widget(form.username,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">username</span>
				</div>


				<div class="wrap-input100 validate-input">
					{{ form_widget(form.roles,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">role</span>
				</div>
                   <br>
  			    <div class="wrap-input100 validate-input">
					{{ form_widget(form.presence,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">presence</span>
				</div>

 				 <div class="wrap-input100 validate-input">
					{{ form_widget(form.nbrhworked,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">Nombre Hours Worked</span>
				</div>


  				<div class="wrap-input100 validate-input">
					{{ form_widget(form.remunerationtotal,{'attr': {'class':'input100','type':'text'}})  }}
					<span class="focus-input100"></span>
					<span class="label-input100">Remuneration Total</span>
				</div>




				 <div class="form-group">
                    <label style="color: floralwhite" >Image</label>
                    <br>
                    <div class="custom-file">
                        {{ form_widget(form.image, {'attr': {'class': 'custom-file-input' }})  }}
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>

                    </div>
                </div>


				{% if form.plainPassword.first is defined %}
					<div class="wrap-input100 validate-input">
						{{ form_widget(form.plainPassword.first,{'attr':{'class':'input100','type':'text'}}) }}
						{{ form_errors(form.plainPassword.first) }}
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
				{% endif %}

				{% if form.plainPassword.first is defined %}
					<div class="wrap-input100 validate-input">
						{{ form_widget(form.plainPassword.second,{'attr':{'class':'input100','type':'text'}}) }}
						{{ form_errors(form.plainPassword.second) }}
						<span class="focus-input100"></span>
						<span class="label-input100">RepeatPassword</span>
					</div>
				{% endif %}


				

				{#
																				<div class="flex-sb-m w-full p-t-3 p-b-32">
																					<div class="contact100-form-checkbox">
																						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
																						<label class="label-checkbox100" for="ckb1">
																							Remember me
																						</label>
																					</div>
																
																					<div>
																						<a href="#" class="txt1">
																							Forgot Password?
																						</a>
																					</div>
																				</div>
																#}

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" id="_submit" name="_submit" value="{{ 'register.submit'|trans }}"/>
					Register
				</button>

			</div>

			{#	<div class="text-center p-t-46 p-b-20">
																																																																																			<span class="txt2">
																																																																																				or sign up using
																																																																																			</span>
																																																																																		</div>
																																																																																		#}

			{# <div class="login100-form-social flex-c-m">
																																																																															<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
																																																																																<i class="fa fa-facebook-f" aria-hidden="true"></i>
																																																																															</a>
																																																																										
																																																																															<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
																																																																																<i class="fa fa-twitter" aria-hidden="true"></i>
																																																																															</a>
																																																																														</div>
																																																																														#}
			{{ form_end(form) }}

			<img class="login100-more" src="{{ asset('images/bg-01.jpg')}}" style="background-image"/>

		</div>
	</div>


{% endblock fos_user_content %}

{% block footer %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
