{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

          <!-- Begin Page Content -->


    <h1>Edit User</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.presence) }}
    {{ form_row(form.nbrhworked) }}
    {{ form_row(form.remunerationtotal) }}

 <div class="form-group">
                    <label style="color: floralwhite" >Image</label>
                    <br>
                    <div class="custom-file">
                        {{ form_widget(form.image, {'attr': {'class': 'custom-file-input' }})  }}
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>

                    </div>
                </div>
                
    <div class="form-group col-md-6">
    <button class="btn">{{ button_label|default('update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">back to list</a>

        <!-- End of Main Content -->

     
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

   
{% endblock %}