{% extends 'base.html.twig' %}
{% block body %}

    <title>Admin - TTBS </title>

          <!-- Begin Page Content -->
          <div class="container-fluid">
         <div class="row page-header"><div class="col-lg-6 align-self-center ">
        <h2>Users Tables</h2>
      </div></div>



    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Users
                </div>
             
     {{ form_start(form) }}

<div class="form-row align-items-end" >
 <div class="col">
   {{ form_row(form.nom) }}
 </div>
  <div class="col">
   {{ form_row(form.nom) }}
 </div>
 

  <div class="col">
   <div class="form-group">
      <button type="submit" class="btn btn-success">Rechercher</button>
    </div>
 </div>
</div>
 {{ form_end(form) }}


                <div class="card-body">
                

                    <table class="footable table table-hover" data-page-size="12" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th >Email</th>
                            <th>Role</th>
                            <th>Enabled</th>
                            <th>presence</th>
                            <th>nbrhworked</th>
                            <th>remunerationtotal</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        {% if user.getRole() in ['ROLE_COLLABORATEUR'] %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>   
                               <td>{{ user.enabled }}</td>  
                                <td>{{ user.presence }}</td>    
                                 <td>{{ user.nbrhworked }}</td>    
                                  <td>{{ user.remunerationtotal}}</td>                           
                        <td class="text-center">
                  <a href="{{ path('user_edit', {'id': user.id}) }} " class="btn btn-sm btn-success"><i class="fa fa-pencil-square"></i>Edit</a>

                                    {{ include('user_bundle/_delete_form.html.twig') }}
                                </td>
                            </tr>
                             {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>


        </div>
        <!-- End of Main Content -->

     
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    
{% endblock %}
